@charset "utf-8";
div{
	display:block;
}
body{
	font-family: serif,"courier new";
	font-size: medium;
	line-height: 120%;
	background-color: #FFB6C1;
	color: #FFFFF0;
	border-syle: solid;
	border-width: 5px;
	border-color: #ffe4e1;
}
header{
	letter-spacing: 2px;
}
h1{
	font-family: serif;
	font-size: large;
	font-weight: bolder;

}
h3{
	font-family: "courier new";
	font-size: 75%;
	font-variant: small-caps;
	
}
p{
	line-height: 2;
	font-size: medium;
	font-family: monospace;
	border-top-style: dotted;
	border-top-color: #f08080;
	border-bottom-style:dotted;
	border-bottom-color:#f08080;
	text-indent:33%;
}
